[Desktop Entry]
Type=Application
Exec=/home/khalil/apps/bspeaker
Hidden=true
NoDisplay=true
X-GNOME-Autostart-enabled=true
Name=bspeaker
Comment=speaker connection script
