[Desktop Entry]
Type=Application
Exec=/home/khalil/apps/bspeaker
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=bottom
Comment=bottom system ressources monitoring TUI
