[Desktop Entry]
Type=Application
Exec=LD_PRELOAD=/usr/local/lib/spotify-adblock.so spotify
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Spicetify
Comment=Spotify modded by spicetify
