[Desktop Entry]
Type=Application
Exec=/home/khalil/apps/spicetify-launcher
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Spicetify
Comment=Spotify modded by spicetify
