layout {
    cwd "~/dataimpact-scraping/"
    tab {
        pane edit="." {
            cwd "~/dataimpact-scraping/"
        }
    }
    tab {
        pane split_direction="vertical" {
            pane
            pane
        }
    }
}
