[Desktop Entry]
Name=Firefox
Comment=Web Browser
Exec=/home/khalil/apps/firefox/firefox %u
Icon=/home/khalil/apps/firefox/browser/chrome/icons/default/default128.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=Firefox
