[Desktop Entry]
Type=Application
Name=Spicetify
GenericName=Music Player
Icon=/home/khalil/.dotfiles/assets/spicetify.png
TryExec=/home/khalil/apps/spicetify-launcher 
Exec=/home/khalil/apps/spicetify-launcher %U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spicetify
