
[Desktop Entry]
Type=Application
Exec=/home/khalil/.local/bin/kitty -e tmuxifier s notes
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=kitty terminal
Comment=favorite term emulator
